@use "../../../assets/css/variables.module.scss" as variables;

.movie-list-page-details {
	padding: 2.125rem 0 1.875rem;

	&__search-button {
		background-color: transparent;
		padding: 0;
		border: none;
		width: 1.75rem;
		height: 1.75rem;
		color: variables.$primary;
	}
}
