@use "../assets/css/variables.module.scss" as variables;

.search-form {
	display: inline-flex;
	height: 56px;
	width: 974px;
	max-width: 100%;
	gap: 14px;

	&__input {
		flex-grow: 1;
		background-color: rgba(51, 51, 51, 0.8);
		padding: 0 20px;
		border: none;
		border-radius: 8px;
		font-size: 20px;
		color: variables.$text;
	}

	&__button {
		width: 233px;
		border: none;
		border-radius: 8px;
		background-color: variables.$primary;
		text-transform: uppercase;
		color: variables.$text;
		font-size: 20px;
		cursor: pointer;
		border: 2px solid variables.$primary;

		&:hover {
			border-color: #000;
		}
	}
}
